$fontJp:"ＭＳ 明朝",serif;































body {
    background-color: black;
    font-family: $fontJp;
    font-size: 2rem;
    width: 100%;
    margin: 0 auto;
    min-height: 150vh;
    display: grid;
    grid-template:
    "header header header"      250px
    "top    top    top"         3fr
    "left   center    right"    2fr
    "footer  footer   footer"   1fr 
    /auto      auto     auto    ;


        // " header header header header header " 150px
        // "  top    top    top    top    top   " 1fr
        // " left   center center center right  " 1fr
        // " ...... ...... ...... ...... ...... "
        // " footer footer footer footer footer " 300px
        // " ...... ...... ...... ...... ...... "
        // / auto 150px auto auto 1fr auto 200px auto;
}
.header {
    grid-area: header;
    min-height: 250px;
    &__wrapper{
        
        width:80%;
        min-height: 150px;
        margin:30px auto  0 auto;
        & img {
            height:10vh;
            
        }
        &__right{
            
            text-align: right;
            
            bottom:10px;
            right:30px;
            & a{
                display: inline-block;
                color: white;
                line-height: 60px;
                margin: 0 0px;
                text-decoration: none;
                
                &:hover{
                    background-color: rgba(255, 255, 255, 0.5);
                    transition: all 0.5s;
                }
            }
        }
    }

}


.top {
    position: relative;
    grid-area: top;
    background:#ddd url(./img/top-bgi.jpg) no-repeat center center;
    background-size:cover;
    min-height: 300px;
    color:white;
    &__title{
        position: absolute;
        bottom:30px;
        right:30px;
        background-color: rgba(0,0,0,0.3);
        font-weight: 900;
        font-size: 80%;

    }
}
.main {
    grid-area: center;
    min-height: 200px;
}
.left {
    grid-area: left;
    min-height:200px;
}
.aside {
    grid-area: right;
    min-height:200px;
}
.footer {
    grid-area: footer;
    min-height:100px;
}
@media screen and (max-width: 1000px) {
    body {
        grid-template:
            "header" 150px
            "top"
            "center" 1fr
            "left  "
            "right "
            "footer" 300px;
    }
}
