@charset "UTF-8";
body {
  color: white;
  background-color: black;
  font-family: "ＭＳ 明朝", serif;
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  border-bottom: 10px #665700 solid;
}

.header__wrapper {
  width: 90%;
  margin: 30px auto  0 auto;
}

.header__wrapper img {
  height: 10vh;
}

.header__wrapper__right {
  text-align: right;
  bottom: 10px;
  right: 30px;
}

.header__wrapper__right a {
  display: inline-block;
  color: white;
  line-height: 60px;
  margin: 0 0px;
  text-decoration: none;
}

.header__wrapper__right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top {
  font-size: 2rem;
  border-bottom: 10px #665700 solid;
  min-height: 400px;
  position: relative;
  background: url(./img/about_top.jpg) no-repeat center center;
  text-align: center;
}

.top__title {
  text-align: center;
}

.top__title {
  position: absolute;
  height: 200px;
  width: 400px;
  top: 100px;
  left: 50px;
}

.description {
  height: 850px;
  margin-top: 5%;
  border-bottom: 10px #665700 solid;
}

.description p {
  margin-left: 10%;
}

.description__top {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.description__top__com {
  width: 60%;
  height: 400px;
  text-align: left;
}

.description__top__com table {
  width: 80%;
  margin: 10% auto 5% auto;
  font-size: 20px;
}

.description__top__com th {
  width: 30%;
  border-bottom: 2px #665700 solid;
}

.description__top__com td {
  width: 70%;
  border-bottom: 2px #665700 solid;
  padding-left: 10px;
}

.description__top__img1 {
  padding: 0 7.5%;
  width: 40%;
  height: 400px;
}

.description__top__img1 img {
  width: 100%;
  height: 100%;
}

.description__bottom {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.description__bottom__img2 {
  padding-top: 3%;
  padding-left: 6%;
  width: 60%;
  height: 400px;
}

.description__bottom__img2 img {
  width: 100%;
}

.description__bottom__img3 {
  width: 40%;
  height: 400px;
  padding: 2% 8%;
}

.map {
  font-size: 2rem;
  height: 850px;
  margin-top: 5%;
  border-bottom: 10px #665700 solid;
}

.map span {
  font-size: 20px;
  margin-left: 22%;
}

.map p {
  margin-left: 10%;
}

.map iframe {
  margin-left: 30%;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 250px;
}

.footer a {
  display: inline-block;
  color: white;
  line-height: 60px;
  margin: 0px 5px;
  text-decoration: none;
  font-size: 25px;
}

.footer img {
  max-height: 300px;
  margin-left: 20%;
}

.footer_right_top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 5px;
  right: 100px;
  margin-right: 5%;
}

.footer_right_bottom {
  text-align: right;
  position: absolute;
  width: 24%;
  bottom: 40px;
  right: 200px;
  background-color: #332301;
  padding: 20px;
  padding-left: 10px;
  font-size: 20px;
}
/*# sourceMappingURL=abount.css.map */